<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="css/styles.css">
<link href="jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">




<title>Hello, world!</title>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fab fa-angrycreative fa-3x" style="color: #32e0e0"></i></a>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-calendar fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 class="demoHeaders">Datepicker</h2>


    <div class="container">
        <div class="row">
            <div class="col">
                <label>
                    <input type="text" class="dateselect" required="required" />
                    <span><i class="far fa-calendar fa-1x"></i></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-9">Mon</div>
            <div class="col-xs-3">8</div>
        </div>
        <div class="row">
            <div class="col-md-9">Tue</div>
            <div class="col-md-3">8</div>
        </div>

        <div class="row">
            <div class="col-md-9">Wed</div>
            <div class="col-md-3">8</div>
        </div>

        <div class="row">
            <div class="col-md-9">Thurs</div>
            <div class="col-md-3">8</div>
        </div>

        <div class="row">
            <div class="col-md-9">Fri</div>
            <div class="col-md-3">8</div>
        </div>

        <div class="row">
            <div class="col-md-9">Total</div>
            <div class="col-md-3">40</div>
        </div>
        <div class="row">
            <div class="mx-auto" style="width: 200px;">
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
            </div>
        </div>
    </div>
    </div>



    <!-- Bootstrap JS -->
    <script src="jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $('.dateselect').datepicker({
            format: 'mm/dd/yyyy',
            // startDate: '-3d'
        });
    </script>

</body>

</html>